body{
  font-family: Arial;
  text-align: center;
  background:#f4f4f4;
}

.dark{
  background:#111;
  color:white;
}

nav{
  position:fixed;
  bottom:15px;
  width:100%;
}

button{
  padding:10px;
  margin:5px;
  border-radius:10px;
  border:none;
  cursor:pointer;
}

.cards{
  display:flex;
  justify-content:center;
  gap:15px;
}

.card{
  background:#3b82f6;
  color:white;
  padding:20px;
  border-radius:15px;
}
